


 <div class="section-title">
          <h2 style="color:blue">la pharmacie Ihssane Noury</h2>
          <p>Il y a près de 20 ans, en tant que pharmacie stationnaire traditionnelle,
              nous avons décidé d’innover. Nous voulions servir nos clients également en
              dehors des heures d’ouverture, offrir plus de services et un choix encore 
              plus large. Mais par-dessus tout, nous voulions mettre un terme aux prix élevés 
              des médicaments. Nous avons ainsi combiné les meilleurs aspects d’une pharmacie 
              traditionnelle avec les innovations et les possibilités offertes par le commerce 
              en ligne.</p>
        </div>