


  <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors m-4">
      <div class="container">

        <div class="section-title">
          <h2 style="color:blue">la pharmacie Ihssane Noury</h2>
          <p>Il y a près de 20 ans, en tant que pharmacie stationnaire traditionnelle,
              nous avons décidé d’innover. Nous voulions servir nos clients également en
              dehors des heures d’ouverture, offrir plus de services et un choix encore 
              plus large. Mais par-dessus tout, nous voulions mettre un terme aux prix élevés 
              des médicaments. Nous avons ainsi combiné les meilleurs aspects d’une pharmacie 
              traditionnelle avec les innovations et les possibilités offertes par le commerce 
              en ligne.</p>
        </div>
    

            <div class="row">
            <div class="col-lg-6 col-md-6 col-xd-12">
                <img class="img-fluid" src="~/2a.jpg" />
              
        </div>
        <div class="col-lg-6 col-md-6 col-xd-12" >
            <h1>Ce que nous sommes aujourd’hui ?</h1>
              <p>
                    La pharmacie et parapharmacie en ligne numéro 1 en Maroc :
                    Notre pharmacie est toujours là pour vous : vous pouvez nous
                    joindre 365 jours par an, en ligne ou par téléphone. Grâce à 
                    notre large catalogue de produits certifiés d'origine française
                    et européenne, vous n'aurez que l'embarras du choix. De plus, 
                    vous pouvez commander facilement, à des prix compétitifs et en 
                    toute sécurité 24 heures sur 24 et 7 jours sur 7. Notre pharmacie
                    physique est située N°3 LOTISSEMENT HAMRIA, BOUJNIBA Maroc
                </p>
        </div>
       </div>




          <div class="row m-4" >    
        <div class="col-lg-12 col-md-12 col-xd-12" >
            <h1>Ce qui nous tient à cœur ? Conseiller nos clients :</h1>
              <p>
                    
                    Chez  Ihssane Noury, vous pouvez compter sur l'expertise et les conseils 
                    personnalisés d’une équipe de plus de 100 pharmaciens et employés du secteur
                    pharmaceutique. Avec 7,1 millions de clients satisfaits
                    nos hauts standards en matière de qualité, de sécurité et de services.
              </p>
        </div>
       </div>






        <div class="row">

          <div class="col-lg-12">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="~/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4> Ihssane Noury</h4>
                <span>Chief Medical Officer</span>
                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

       @*   <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Anesthesiologist</span>
                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>Cardiology</span>
                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>*@

       @*   <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Neurosurgeon</span>
                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>*@

        </div>

      </div>
    </section><!-- End Doctors Section -->